// Variables

// Base colors
$white:                 #fff;
$black:                 #000;
$near-black:            #131313;

// Greys
$paleSlate:             #d2d0d2;

// Reds
$cerise:                #D32176;
$red:                   #f00e00;

// Greens
$lima:                  #7ed321;

// Color assignments
$primary-color:         $lima;
$base-font-color:       $near-black;
$base-background-color: $white;
$heading-color:         $base-font-color;
$error-color:           $red;
